@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color: #0A2647;
}

.logo{
  /* background-color: red; */
  width: 150px;
}

.contenedor{
  color: white;
  text-align: center;
  padding: 20px;
  
}

.parking-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card-parking{
  width: 600px;
  height: 250px;
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.356);
  background-color: whitesmoke;
  overflow: hidden;

}

@media screen and (max-width: 768px) {
  .card-parking{
    width: 455px;
    height: 155px;
  }
}

.left-img{
  width: 42%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .left-img{
    width: 40%;
  }
}
.carousel{
  height: 100%;
}

.carousel-inner{
  height: 100%;
}

.carousel-item{
  height: 100%;
  width: 100%;
}



img{
  border-radius: 0px;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  img{
      padding: 15px;
      border-radius: 25px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-control-next{
    margin-right: 10px;
  }
  
  .carousel-control-prev{
    margin-left: 10px;
  }
}


/* Info card */

.info{
  width: 58%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  /* background-color: blue; */
}

.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  color: rgb(36, 36, 92);
}

.address{
  font-size: 25px;
  font-weight: 700;
}


.icon{
  font-size: 23px;
  padding-right: 2px;
}

.rayita{
  margin-top: 0;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .address{
    font-size: 19px;
  }
  .icon{
    font-size: 20px;
  }
  .score{
    font-size: 19px;
  }
}

.amenities{
  height: 45%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
  
  /* background-color: blueviolet; */
}

.amenitie{
  display: flex;
  align-items: center;
  width: 50%;
  color: rgb(134, 134, 134);
  margin: 0;

  /* background-color: red; */
}

.icon-amenitie{
  /* height: 53px; */
  font-size: 25px;
  margin-right: 5px;
  color: rgb(36, 36, 92);
}

.font-amenitie{
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .amenitie{
    width: 15%;
  }
  .font-amenitie{
    display: none;
  }
}

.costo{
  display: flex;
  align-items: center;
  height: 20%;
  /* background-color: red; */
}

.font-costo{
  font-size: 18px;
  font-weight: bold;
  color: rgb(36, 36, 92);
  margin-right: 5px;
}
.font-total{
  font-size: 18px;
  font-weight: bold;
  color: rgb(81, 81, 230);
}

@media screen and (max-width: 768px) {
  .font-costo{
    font-size: 14px;
  }
  .font-total{
    font-size: 14px;
  }
  .nacionalidad{
    display: none;
  }
}